<!---start-wrap---->
			<!---start-header---->
			<div class="header">
				<div class="top-header">
					<div class="wrap">
						<div class="top-header-left">
							<ul>
								<li><a class="cart" routerLink="cart/{{user_id}}" *ngIf="loggedIn"><span id="clickme"></span></a></li>
							</ul>
						</div>
						<div class="top-header-center">
						</div>
						<div class="top-header-right">
							<ul>
								<li><a routerLink="/login" *ngIf="!loggedIn">Login</a><span> </span></li>
								<li><a routerLink="/registration" *ngIf="!loggedIn">Registration</a></li>
								<li><a href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a></li>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<!----start-mid-head---->
				<div class="mid-header">
					<div class="wrap">
						<div class="mid-grid-left">
						</div>
						<div class="mid-grid-right">
							<a class="logo" routerLink=""><span> </span></a>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<!----//End-mid-head---->
				<!----start-bottom-header---->
				<div class="header-bottom">
					<div class="wrap">
					<!-- start header menu -->
							<ul class="megamenu skyblue">
								<li class="grid"><a class="color2" routerLink="/man-products">MEN</a></li>
								<li class="grid"><a class="color2" routerLink="/women-products">WOMEN</a></li>
								<li class="grid"><a class="color2" routerLink="/kids-products">KIDS</a></li>
								<li class="grid"><a class="color2" routerLink="/sports-products">SPORT</a></li>
							</ul>
					</div>
				</div>
				</div>
				<!----//End-bottom-header---->
			<!---//End-header---->
		
		
        <!---//End-wrap---->