<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Profile</h1>
        <nav class="d-flex align-items-center">
          <a routerLink="/">Home<span class="lnr lnr-arrow-right"></span></a>
          <a routerLink="/profile">Profile</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Contact Area =================-->
<section class="contact_area section_gap_bottom">
  <div class="container" *ngIf="items">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Role</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h5>{{ items.name }}</h5>
                </td>
                <td>
                  <h5>{{ items.email }}</h5>
                </td>
                <td>
                  <h5>{{ items.city }}</h5>
                </td>
                <td>
                  <h5>{{ items.address }}</h5>
                </td>
                <td>
                  <h5>{{ items.role_name }}</h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br /><br /><br /><br /><br />
        <h1 *ngIf="checkouts">All your checkouts</h1>
        <div class="table-responsive" *ngIf="checkouts">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Date</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let checkout of checkouts">
                <td>
                  <h5>
                    <img
                      class="cart-height"
                      [src]="
                        dom.bypassSecurityTrustUrl(
                          'http://localhost:8000/' + checkout.picture
                        )
                      "
                      alt=""
                    />
                  </h5>
                  <h5>{{ checkout.product_name }}</h5>
                </td>
                <td>
                  <h5>{{ checkout.created_at }}</h5>
                </td>
                <td>
                  <h5>{{ checkout.quantity }}</h5>
                </td>
                <td>
                  <h5>{{ checkout.price | currency }}</h5>
                </td>
                <td>
                  <h5>{{ checkout.quantity * checkout.price | currency }}</h5>
                </td>
                <td>
                  <h5 *ngIf="checkout.delivered == 1">Delivered</h5>
                  <h5 *ngIf="checkout.delivered == 0">Not delivered</h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Contact Area =================-->
