<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-xs-12">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Hi! Our shop is located in Obrenovac, Serbia. Every week we get new products. Buy on site or visit us.
                    </p>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Look at</h6>
                    <div class="footer-social d-flex align-items-center">
                        <a routerLink="/contact"><span class="lnr lnr-bubble"></span></a>
                        <a routerLink="/authorization/login" *ngIf="!loggedIn"><span class="lnr lnr-user"></span></a>
                        <a routerLink="/authorization/registration" *ngIf="!loggedIn"><span class="lnr lnr-users"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a><i class="fa fa-facebook"></i></a>
                        <a><i class="fa fa-twitter"></i></a>
                        <a><i class="fa fa-dribbble"></i></a>
                        <a><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Documentation</h6>
                    <p>Click here to download</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href=""><span class="lnr lnr-book"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                This site is school project. Created by <a routerLink="/author">Nikola Milanovic</a>
            </p>
        </div>
    </div>
</footer>
