<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a routerLink="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a routerLink="/cart/{{user_id}}">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Number</th>
                            <th scope="col">Total</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartItems">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="assets/{{item.picture}}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{item.price}}</h5>
                            </td>
                            <td>
                                <h5>{{item.quantity}}</h5>
                            </td>
                            <td>
                                <h5>{{item.number}}</h5>
                            </td>
                            <td>
                                <h5>${{item.price * item.quantity}}</h5>
                            </td>
                            <td>
                                <a routerLink="/buy/cart/edit/{{item.id}}" class="btn btn-info waves-effect btn-xs">Edit</a>
                            </td>
                            <td>
                                <button href="#" class="btn btn-danger waves-effect btn-xs" (click)="deleteItem(item.id)">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>{{fullPrice | currency}}</h5>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" routerLink="/men-products">Continue Shopping</a>
                                    <button class="primary-btn" (click)="checkout(user_id)">Proceed to checkout</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->