<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Login/Register</h1>
        <nav class="d-flex align-items-center">
          <a routerLink="/">Home<span class="lnr lnr-arrow-right"></span></a>
          <a routerLink="/authorization/login">Login/</a
          ><a routerLink="/authorization/registration">Register</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="assets/images/login.jpg" alt="" />
          <div class="hover">
            <h4>Have account already?</h4>
            <p>Click here to log in</p>
            <a class="primary-btn" routerLink="/authorization/login">Login</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Register here</h3>
          <form
            class="row login_form"
            id="contactForm"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
          >
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Name'"
                formControlName="name"
                required
              />
              <span class="text-danger" *ngIf="name.invalid"
                >Name is in invalid format.</span
              >
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="city"
                name="city"
                placeholder="City"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'City'"
                formControlName="city"
                required
              />

              <span class="text-danger" *ngIf="city.invalid"
                >City is in invalid format.</span
              >
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                placeholder="Address"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Address'"
                formControlName="address"
                required
              />

              <span class="text-danger" *ngIf="address.invalid"
                >Address is in invalid format.</span
              >
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email'"
                formControlName="email"
                required
              />

              <span class="text-danger" *ngIf="email.invalid"
                >Email is in invalid format.</span
              >
            </div>
            <div class="col-md-12 form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
                formControlName="password"
                required
              />
              <span class="text-danger" *ngIf="password.invalid"
                >Password must be atleast 3 characters long.</span
              >
            </div>
            <div class="col-md-12 form-group">
              <input
                type="password"
                class="form-control"
                id="password_confirmation"
                name="password_confirmation"
                placeholder="Re-Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
                formControlName="password_confirmation"
                required
              />
              <span class="text-danger" *ngIf="form.errors"
                >Password not match.</span
              >
            </div>
            <div class="col-md-12 form-group">
              <button
                type="submit"
                value="submit"
                class="primary-btn"
                [disabled]="!form.valid"
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Login Box Area =================-->
