<div class="content login-box">
        <div class="login-main">
            <div class="wrap">
                <h1>LOGIN OR CREATE AN ACCOUNT</h1>
                <div class="login-left">
                    <h3>NEW CUSTOMERS</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a class="acount-btn" routerLink="/registration">Creat an Account</a>
                </div>
                <div class="login-right">
                    <h3>REGISTERED CUSTOMERS</h3>
                    <p>If you have an account with us, please log in.</p>
                    <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                        <div>
                            <span>Email Address<label>*</label></span>
                            <input type="text" name="email" [(ngModel)]="form.email" required> 
                        </div>
                        <div>
                            <span>Password<label>*</label></span>
                            <input type="password" name="password" [(ngModel)]="form.password" required> 
                        </div>
                        <button type="submit" [disabled]="!loginForm.valid">Log in</button>
                        <div class="alert alert-danger" [hidden]="!error">
                            {{error}}
                          </div>
                    </form>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>