.image-height {
    max-width: 255px;
    min-width: 255px;
    max-height: 255px;
    min-height: 255px;
}

.cart-height {
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
}
