<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a routerLink="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Product/Details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area" *ngIf="details">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6" *ngIf="details.image_path">
                <img class="img-fluid w-100" [src]="
            dom.bypassSecurityTrustUrl(
              'http://localhost:8000/' + details.image_path
            )
          " alt="" />
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{ details.name }}</h3>
                    <h2>${{ details.price }}</h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#"><span>Category</span> :
                {{ details.category_name | titlecase }}</a
              >
            </li>
            <li>
              <a href="#"><span>Availibility</span> : In Stock</a>
                        </li>
                        <li>
                            <span class="lnr lnr-heart">{{ details.likes }}</span>
                        </li>
                        <li>
                            <span class="lnr lnr-calendar-full">{{
                details.date_arrive
              }}</span>
                        </li>
                    </ul>
                    <p>
                        We are giving two year warranty from the day you bought it. Be free to contact us anytime, we will respone as soon as we can. Visit
                        <a routerLink="/contact">Contact</a> to send us message. Hope you likes our products.
                    </p>
                    <form #addToCart="ngForm" (ngSubmit)="onSubmit()">
                        <div class="product_count">
                            <label for="qty">Quantity:</label>
                            <input type="text" name="quantity" id="sst" maxlength="12" title="Quantity:" class="input-text qty" [(ngModel)]="form.quantity" required />
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="product_count">
                            <label for="number">Number:</label>
                            <select class="form-control" name="number" id="number" [(ngModel)]="form.number">
                <option *ngFor="let number of numbers" value="{{ number }}">{{
                  number
                }}</option>
              </select>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <button class="primary-btn" type="submit" value="submit">
                Add to cart
              </button>
                            <a (click)="onLike(details.id)" class="icon_btn"><i class="lnr lnr lnr-heart"></i
              ></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->